<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/table.css">
    <title>Happy Diwali</title>
  </head>
  <body>
    <table>
      <tr>
        <th>
          <h2 style="font-size:2.5em;">"{{ english }}"</h2>
          <h2 style="font-size:2.0em;">In Indian Languages</h2>
        </th>
      </tr>
    </table>
    <table>
      <tr>
        <th>Language</th>
        <th>Text</th>
      </tr>
      <!-- <tr>
        <td>English</td>
        <td>{{ english }}</td>
      </tr> -->
      <tr>
        <td>Hindi</td>
        <td>{{ hindi }}</td>
      </tr>
      <tr>
        <td>Kannada</td>
        <td>{{ kannada }}</td>
      </tr>
      <tr>
        <td>Bengali</td>
        <td>{{ bengali }}</td>
      </tr>
      <tr>
        <td>Gujarati</td>
        <td>{{ gujarati }}</td>
      </tr>
      <tr>
        <td>Punjabi</td>
        <td>{{ punjabi }}</td>
      </tr>
      <tr>
        <td>Malayalam</td>
        <td>{{ malayalam }}</td>
      </tr>
      <tr>
        <td>Tamil</td>
        <td>{{ tamil }}</td>
      </tr>
      <tr>
        <td>Telegu</td>
        <td>{{ telegu }}</td>
      </tr>
      <tr>
        <td>Assamese</td>
        <td>{{ assamese }}</td>
      </tr>
      <tr>
        <td>Urdu</td>
        <td>{{ urdu }}</td>
      </tr>
      <tr>
        <td>
          <img src="static/ISGP.png" alt="">
        </td>
        <td>
          <img src="static/hd2017.png" alt="">
        </td>
      </tr>
    </table>

  </body>
</html>
